<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <%for (let cohort of cohorts) {%>
        <div>
            <img src="<%- cohort.logo_url %>" alt="cohort logo">
            <h2><%- cohort.name %></h2>
            <p><%- cohort.members_arr %></p>
            <a href="cohorts/<%- cohort.id%>">Show cohort</a>
        </div>
    <%}%>
</body>
</html>